@page "/new-bug"
<h3>Add New Bug</h3>

<EditForm Model="AddBug">
    <InputText Value="@AddBug.Title" placeholder="Enter Title" />
    <InputText Value="@AddBug.Description" placeholder="Enter Description" />
    <InputNumber Value="@AddBug.Priority" placeholder="Enter Priority" />
    <button type="submit" value="Add Bug" />
</EditForm>

@code {
    public Bug AddBug = new Bug();
}
